recordings
node_modules
dist
config.json
/discord/commands_imple
.idea
.flaskenv*
.env.keys
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
